<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#">Nuby Express Bootstrap Nav</a>

            <div class="nav-collapse collapse">

                <ul class="nav">
                    <% nav.forEach(function(nav_item){ %>
                    <% if (nav_item.dropdown){%>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <%- nav_item.title %>
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <% nav_item.links.forEach(function(link){ %>
                            <li><a href="<%- link.link %>"><%- link.title %></a></li>
                            <% }) // end nav.forEach
                            %>
                        </ul>
                    </li>
                    <% } else { %>
                    <li>
                        <a href="<%- nav_item.link %>" class="nav"><%- nav_item.title %></a>
                    </li>
                    <% } // end dropdown check
                    %>
                    <% }) // end nav_item.forEach
                    %>
                </ul>
                <!-- /.nav -->
            </div>
            <!-- /.nav-collapse -->
        </div>
    </div>
    <!-- /navbar-inner -->
</div>