@hl_color: rgb(255, 255, 0);
@body_bg: black;
@sm_link_color: rgb(250, 255, 255);
@sm_bull_color: rgb(100, 80, 0);
@body_txt: white;
@link_color: rgb(255, 255, 204);

.hl {
    color: @hl_color;
    margin: 0.33em 0em;
    padding: 0em;
    font-size: 160%;
    font-family: Arvo, Geneva, Helvetica, sans-serif;
}

html {
    background-color: @body_bg;
    color: @body_txt;
    body {

        figure.overlay {
            position: absolute;
            margin: 2em;
            left: 0px;
            top: 0px;
            -webkit-box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.33);
            box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.33);
            border: 2px solid black;
        }


        background-color: @body_bg;
        h1 {
            .hl
        }

        h2 {

            .hl

        }

        h3 {
            .hl
        }

        *.ui-widget, section .ui-widget {
            h1, h2, h3 {
                color: black;
            }
        }
        article {

            h1 {
                .hl
            }

            h2 {

                .hl;
                font-size: 140%;
            }

            h3 {
                .hl;
            font-size: 120%;
            }

            a, a:link, a:visited {
                color: @link_color;
                text-decoration: none;
            }


            *.ui-widget, section .ui-widget {
                h1, h2, h3 {
                    color: black;
                }
            }
        }

        article#maincolumn {

            section.preview,
            section section.preview {
                padding: 2em;
                color: black;
                background-color: white;
                border: 1px solid black;
            }

            *.ui-widget, section .ui-widget {
                h1, h2, h3 {
                    color: black;
                }
            }
        }

        section#sidebar {

            div.panel {
                a {
                    text-decoration: none;
                    color: @sm_link_color;
                    font-weight: bold;
                    font-size: 125%;
                }
                ul {
                    margin: 0px;
                    padding-left: 1.5em;
                    li {
                        color: @sm_bull_color;
                        margin-left: 0.5em;
                        padding-left: 0em;
                        font-size: 80%;
                    }
                }
            }

        }
    }
}



@media screen and (max-width: 720px) {
    html {
        body {

            section#sidebar {

                div.panel {
                    ul {
                        li {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}