<div id="config_template_list">
    <table class="datagrid" style="width: 100%">
        <thead>
        <tr>
            <td colspan="109" class="controls">
                Search <input type="text" value="" class="search_field"/>
            </td>
        </tr>
        <tr>
            <th class="src_sort">Source</th>
            <th class="name_sort">Name</th>
            <th class="name_sort">Description</th>
            <th class="type_sort">Type</th>
            <th colspan="2">&nbsp;</th>
        </tr>
        </thead>
        <tbody class="insert">
        </tbody>
        <tfoot>
        <tr>
            <th class="src_sort">Source</th>
            <th class="name_sort">Name</th>
            <th class="name_sort">Description</th>
            <th class="type_sort">Type</th>
            <th colspan="2">&nbsp;</th>
        </tr>
        <tr>
            <td colspan="10" class="controls">&nbsp;
            </td>
        </tr>
        </tfoot>
    </table>
</div>
        <p>Note - deleting options is only effective if you also delete the option from the configuration file
        in which it occurs. If you don't, the option will be re-cretated on restart. </p>

<script id="config_list_template" type="text/x-handlebars-template">
   <tr><% if (false) { %> <th class="id_value mid" id_value="{{ _id }}">
        <a href="#" title="{{id_display _id }}">{{id_short _id }} </a>
    </th> <% } %>
    <th style="text-align: left;">{{ class }} {{ src }} </th>
    <td style="text-align: right; white-space: nowrap"><b>{{ name }}</b></td>
       <td> {{ value }} </td>
    <td>{{ data_type }}</td>
    <td class="control">
        <button class="edit"><span class="icon"></span> Edit</button>
    </td>
       <td class="control">
           <button class="delete"><span class="icon"></span> Delete</button>
       </td></tr>
    <tr>
        <th></th>
    <td title="default: {{ default }}" colspan="5"><small>{{ description }}</small></td>
    </tr>
</script>

<span id="config_forms">

 </span>

<span id="edit_config">

 </span>

<script id="edit_config_form" type="text/x-handlebars-template">
    <form class="dialog_form">

        <table>
            <tr>
                <td><label>Source</label></td>
                <td class="static">{{class}}: {{ src }}</td>
            </tr>
            <tr>
                <td><label>Name</label></td>
                <td class="static">{{ name }}</td>
            </tr>
            <tr>
                <td><label>Data Type</label></td>
                <td class="static"> {{data_type }}</td>
            </tr>
            <tr>
                <td><label>Value</label></td>
                <td colspan="2"><input name="value" type="text" value="{{ value }}"/></td>

            </tr>
            <tr>
                <td></td>
                <td> Default value: &quot;{{ default }}&quot;
                </td>  <td>
                <button onclick="reset_form_value(this, 'value', '{{ default }}'); return false; ">Reset</button>
            </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2" class="controls">
                    <button class="update">Update Config</button>
                </td>
            </tr>
        </table>
    </form>
</script>


<script id="config_form_template" type="text/x-handlebars-template">
    <div class="accordion">

        {{#each forms }}
        <h3><a href="#">Options for {{type }} &quot;{{ src }}&quot; </a></h3>

        <div>
            <form class="dialog_form">

                <input type="hidden" name="src" value="{{ src }}"/>

                <input type="hidden" name="class" value="{{ class }}"/>
                <table>

                    {{#each fields }}
                    <tr>
                        <td style="width: 12em"><label style="width: 12em">{{ name }}</label></td>
                        <td colspan="2" >
                            {{input data_type name value }}
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td style="font-size: 80%; height: 3.5em !important;"> Default value: &quot;{{ default }}&quot;
                        </td>
                        <td>
                            <button style="font-size: 80%" onclick="reset_form_value(this, '{{name}}', '{{sq default }}'); return false; ">
                                Reset
                            </button>
                        </td>
                    </tr>
                    {{/each }}
                    <tr>
                        <td>
                            <button type="submit">Update</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        {{/each}}
    </div>
</script>