<h1>Options</h1>
<p>Options are defined in component configuration files and can be adjusted on the fly to customize your site.</p>

<div class="well-large">

    <table class="table table-condensed data_table">
        <thead>
        <tr>

            <th style="width:12em">Name</th>

            <th>Value</th>

            <th>&nbsp;</th>

        </tr>
        </thead>

        <tbody>
<% site_options.forEach(function(option){%>
        <tr>

            <td><%- option.name %></td>

            <td><%- option.value %></td>

            <td><a href="#edit_option" class="btn" role="btn" data-toggle="modal"
                   onClick="edit_name('<%- option.name %>')"><i class="icon-edit"></i> Edit Option</a></td>

        </tr>
        <% }) %>
        </tbody>
    </table>
</div>


<!-- Modal -->
<div class="modal" id="edit_option_modal" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="display: none"
        >
</div>

<script language="javascript">

    function form_data() {
        var sd = $('#edit_option_modal form').serializeArray();
        return _.reduce(sd, function (m, f) {
            m[f.name] = f.value;
            return m;
        }, {})
    }

    function edit_name(name) {
        $('#edit_option_modal').load('/admin/option/' + name + '/edit', function () {
            $('#edit_option_modal').show();
            $('#edit_option_modal form').submit(function () {
                var d = form_data();

                $.post('/admin/option/' + name + '/edit', d, function (result){
                    console.log('result: ', result);
                    document.location.reload();
                })

               return false;
            })
        })
    }
</script>