<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>Nuby Express Administration</title>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <meta name="viewport" content="width=device-width" />

    <!-- Stylesheets -->
    <%- partial("css.html", css) %>

    <!-- Scripts -->
    <%- partial("js.html", javascript_head) %>

    <!--[if lt IE 9]><script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js" defer="defer"></script><![endif]-->
</head>
<body class="admin">

<!-- Header -->
<header id="top">
    <a href="/admin/home"><span id="logo" /></a>
    <h1><a href="/admin/home">NE Administration</a></h1>
</header>

<!-- Sidebar -->
<section id="sidebar">
    <div id="fb-user"></div>
    <fb:login-button onlogin="location.reload()"  onlogout="location.reload()"
   autologoutlink="true" registration-url="http://<%= helpers.fb_data.domain %>/members_reg">Log
        In
    </fb:login-button>
    <span id="sidebar_menu"></span>
</section>


<!-- Main Body -->
<article id="maincolumn">

    <%- helpers.flash() %>
<%- body %>
</article>
<%- partial("js.html", javascript) %>
<script language="javascript">
    $(function () {

        var facebook_loaded = false;
        var member_loaded = false;
        var current_member = null;
        var ticket_loaded = false;
        var fb_member_template = Handlebars.compile('<img src="{{picture_url}}" /><br />Welcome {{name }}');

        console.log('binding body');
        $('body').bind('member', function (event, member) {
            console.log('reflecting member', member);
            var privs = NE_ADMIN.privs = member && member.privs ? member.privs : [];
            member_loaded = (member) ? true : false;
            current_member = member;

            _update_state();
        });

        function _ticket_from_cookie(){
            var ticket_id = 'fb_ticket_' + current_member.member_name;
            console.log('ticket id: ', ticket_id);
            var fb_ticket = $.cookie(ticket_id, {path:'/'});
            if (fb_ticket) {
                $('#fb-user').html(fb_ticket);
                ticket_loaded = ticket_id;
                return true;
            }
        }

        function _update_state() {
            console.log('facebook_loaded: ', facebook_loaded, ', member_loaded: ', member_loaded);
            NE_ADMIN.panel('admin', '#sidebar_menu');
            if (facebook_loaded && member_loaded) {
                var ticket_id = 'fb_ticket_' + current_member.member_name;
                console.log('ticket id: ', ticket_id);
                if (ticket_loaded == ticket_id){
                    console.log('already loaded ticket ' + ticket_id);
                    return;
                }
                var fb_ticket = $.cookie(ticket_id, {path:'/'});
                if (!_ticket_from_cookie()) {
                    FB.api('/me', function (response) {
                        FB.api('/me/picture', function (pic) {
                            // console.log('me: ', response, 'pic', pic);
                            response.picture_url = pic;
                            var fb_ticket = fb_member_template(response);
                            $.cookie(ticket_id, fb_ticket, {path:'/'});
                            $('#fb-user').html(fb_ticket);
                            ticket_loaded = ticket_id;
                        })

                    });
                }
            } else if (member_loaded) {
                _ticket_from_cookie();
            } else {
                $('#fb-user').empty();
                ticket_loaded = false;
            }

        }

        $('body').bind('fb', function () {
            facebook_loaded = true;
            _update_state();
        })

    })
    ;

</script>


<%- helpers.fb() %>
</body>
</html>